@{
    var userInfo = ViewBag.UserInfo as UserInfo;
}

<div class="d-flex flex-column mt-5">
    <div class="d-flex align-items-center justify-content-between" style="height: 64px;">
        <div class="d-flex gap-3">
            <div class="d-flex">
                <div class="bg-dark-subtle rounded-3 pt-2 px-1">
                    <img class="" width="64" height="64" src="~/images/user.png" alt="">
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="align-self-start">
                    <h3 class="text-xl font-semibold">@userInfo!.Username</h3>
                </div>
                <div class="d-flex">
                    <button class="btn btn-light rounded-circle text-sm py-1 px-2 font-medium">
                        <img width="12" height="12" src="~/images/pencil.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="bg-dark-subtle h-100" style="width: 1px;"></div>
        <div class="d-flex gap-5">
            <div class="">
                <div>
                    <h3 class="text-base font-bold text-muted">User ID</h3>
                </div>
                <div>
                    <p class="text-base text-dark">@userInfo.UserId</p>
                </div>
            </div>
            <div class="">
                <div>
                    <h3 class="text-base font-bold text-muted">User Type</h3>
                </div>
                <div>
                    <p class="text-base text-dark">@userInfo.RoleName</p>
                </div>
            </div>
            <div class="">
                <div>
                    <h3 class="text-base font-bold text-muted">Total Stocks</h3>
                </div>
                <div>
                    <p class="text-base text-dark">@userInfo.TotalStocks</p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center p-4 mt-5 border rounded">
        <div class="d-flex flex-column">
            <div>
                <h3 class="text-2xl font-bold">Estimated Balance</h3>
            </div>
            <div class="d-flex gap-1">
                <div>
                    <h3 class="text-3xl font-bold text-dark m-0">@ViewBag.EstimatedBalance</h3>
                </div>
                <div class="align-self-end">
                    <p class="text-muted text-xl font-semibold" style="margin-bottom: 2px;">TL</p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <button class="btn btn-light bg-dark-subtle font-semibold">Deposit</button>
        </div>
    </div>
    <div class="d-flex flex-column p-4 mt-5 border rounded">
        <div>
            <h3 class="text-3xl font-bold">Markets</h3>
        </div>
        <div class="d-flex w-100 mt-4">
            <ul class="nav nav-tabs w-100">
                <li class="nav-item">
                    <a class="nav-link active text-primary font-medium" aria-current="page" href="#">Holding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted font-medium" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted font-medium" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="border border-top-0">
            <table class="table table-borderless table-hover m-0 mt-3">
                <thead>
                    <tr class="text-muted font-bold">
                        <th scope="col">
                            <div class="d-flex align-items-center gap-2">
                                Stock
                                <img width="12" height="12" src="~/images/sort.png" alt="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="d-flex align-items-center gap-2">
                                Amount
                                <img width="12" height="12" src="~/images/sort.png" alt="">
                            </div>
                        </th>
                        <th scope="col">
                            <div class="d-flex align-items-center gap-2">
                                Stock Price
                                <img width="12" height="12" src="~/images/sort.png" alt="">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-medium">
                        <td>
                            <div class="d-flex flex-column m-0">
                                <div class="text-dark font-semibold text-base m-0">
                                    TL
                                </div>
                                <div class="text-muted text-xs">
                                    TURKISH LIRAS
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column m-0">
                                <div class="text-dark font-semibold text-base m-0">
                                    @userInfo.Balance
                                </div>
                                <div class="text-muted text-xs">
                                    @userInfo.Balance TL
                                </div>
                            </div>
                        </td>
                        <td>1 TL</td>
                    </tr>
                    @foreach (var item in Model) {
                        <tr id="@item.HoldingId" class="font-medium">
                            <td>
                                <div class="d-flex flex-column m-0">
                                    <div class="text-dark font-semibold text-base m-0">
                                        @item.Stock.StockSymbol
                                    </div>
                                    <div class="text-muted text-xs">
                                        @item.Stock.StockName
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column m-0">
                                    <div class="text-dark font-semibold text-base m-0">
                                        @item.Quantity
                                    </div>
                                    <div class="text-muted text-xs">
                                        @(item.Quantity * item.Stock.Price) TL
                                    </div>
                                </div>
                            </td>
                            <td>@item.Stock.Price TL</td>
                            <td>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="btn btn-light" asp-controller="profile" asp-action="transactions" asp-route-id="@item.Stock.StockSymbol">
                                        <img width="12" height="12" src="~/images/transactions.svg" alt="">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>